[user]
	name = Thomas Järvstrand
	email = tjarvstrand@gmail.com
[color]
  ui = auto
  diff = auto
  interactive = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  # instead of pushing all branches with git push, you only push the current one.
  default = current
[pull]
  ff = only
[core]
  # global per user gitignore file
  excludesfile = "~/.gitignore"
  pager = "less -F -X"
[init]
	templatedir = ~/.local/lib/git/template
[status]
  [submodule]
    summary = 0
[branch]
  autosetupmerge = true
[url "git@github.schibsted.io:"]
	insteadOf = sch:
[hub]
  host = "github.schibsted.io"
[alias]
	co = checkout
	br = branch
	df = diff
	st = status
	ci = commit
