[Desktop Entry]
Name=XMonad Unity (Thomas)
Comment=Tiling window manager
TryExec=/usr/bin/gnome-session
Exec=gnome-session --session=xmonad
Type=XSession

